<div class="pantalla-inicio-hero">
    
    <div class="pantalla-inicio-content">
        <div class="pantalla-inicio-text-1">Bienvenido a</div>
        <div class="pantalla-inicio-text-2">Happy Pool</div>
        <div class="pantalla-inicio-text-3">Ofrecemos <br><span class="typing"></span> </div>
    </div>
    <div>
        <div class="pantalla-inicio-bubbles">
            <img src="/img/bubble.png" alt="">
            <img src="/img/bubble.png" alt="">
            <img src="/img/bubble.png" alt="">
            <img src="/img/bubble.png" alt="">
            <img src="/img/bubble.png" alt="">
            <img src="/img/bubble.png" alt="">
        </div>
    </div>
    <div class="pantalla-inicio-social-links">
            <a href="https://www.facebook.com/Happy-Pool-109867214866523" >
                <ion-icon name="logo-facebook" class="pantalla-inicio-iconBx"></ion-icon>
            </a>
            <a href="https://www.instagram.com/happypoollimpieza/?hl=es">
                <ion-icon name="logo-instagram" class="pantalla-inicio-iconBx"></ion-icon>
            </a>
            <a href="https://twitter.com/HappyPool5">
                <ion-icon name="logo-twitter" class="pantalla-inicio-iconBx"></ion-icon>
            </a>
    </div>
</div>