<div class="pantalla-inicio-hero">
    
    <div class="pantalla-inicio-content">
        <div class="pantalla-inicio-text-1">Welcome to</div>
        <div class="pantalla-inicio-text-2">SerPool</div>
        <div class="pantalla-inicio-text-3">Ofrecemos <br><span class="typing"></span> </div>
    </div>
    <div>
        <div class="pantalla-inicio-bubbles">
            <img src="/img/bubble.png" alt="">
            <img src="/img/bubble.png" alt="">
            <img src="/img/bubble.png" alt="">
            <img src="/img/bubble.png" alt="">
            <img src="/img/bubble.png" alt="">
            <img src="/img/bubble.png" alt="">
        </div>
    </div>
    <div class="pantalla-inicio-social-links">
            <a href="https://www.facebook.com" >
                <ion-icon name="logo-facebook" class="pantalla-inicio-iconBx"></ion-icon>
            </a>
            <a href="https://www.instagram.com">
                <ion-icon name="logo-instagram" class="pantalla-inicio-iconBx"></ion-icon>
            </a>
            <a href="https://twitter.com/">
                <ion-icon name="logo-twitter" class="pantalla-inicio-iconBx"></ion-icon>
            </a>
    </div>
</div>