<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    {{#if user}}
    <a class="navbar-brand" href="/home">Happy Pool</a>
    {{else}}
      <a class="navbar-brand" href="/">Happy Pool</a>
    {{/if}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {{#if user.rolCliente}}
        <li class="nav-item">
          <a class="nav-link" href="#">Tienda</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Servicios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Mis Servicos</a>
            <a class="dropdown-item" href="/servicios/piscina">Piscina</a>
             <a class="dropdown-item" href="#">Maquina</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Express</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Perfil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Mis datos</a>
            <a class="dropdown-item" href="/piscina">Mis piscinas</a>
             <a class="dropdown-item" href="/piscina/add">Agregar piscina</a>
            {{#if user.Direccion}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/direccion/add">Agregar Dirección</a>
            {{/if}}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LogOut</a>
        </li>

      {{else if user.rolTrabajador}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Servicios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Pedientes</a>
            <a class="dropdown-item" href="#">Nuevos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Servicio Express</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LogOut</a>
        </li>

      {{else}}
      
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">Sign In</a>
        </li>

      {{/if}}
    </ul>
  </div>
  </div>
</nav>

