<div class="container-fluid">
    		<div class="row flex-nowrap">
        		<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 ba" style="background-color: #157732;">
        				<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        					<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-center" id="cord">
        						<li class="navbar-brand">Ayuda</li>
        						<li class="navbar-brand ">
        							<a href="faqs" >
										<ion-icon name="help-circle-outline" class="pantalla-inicio-iconBr"></ion-icon>
									</a>
        						</li>
								<li class="navbar-brand">
									<a style="color: white;"> Contactanos </a> <br>
								</li>
        						<li class="navbar-brand align-items-center">
        							<a href="https://www.facebook.com" >
										<ion-icon name="logo-facebook" class="pantalla-inicio-iconBx"></ion-icon>
									</a> <br>
									<a href="https://www.instagram.com">
										<ion-icon name="logo-instagram" class="pantalla-inicio-iconBx"></ion-icon>
									</a> <br>
									<a href="https://twitter.com/">
										<ion-icon name="logo-twitter" class="pantalla-inicio-iconBx"></ion-icon>
									</a>
        						</li>
        					</ul>
						</div>
        		</div>
        		<div class="col py-3" style="background-color: #54c57f">
        			<center><h1>Preguntas Frecuentes </h1></center>
        			<br><br>
        			<div>
						<!--Botones tipo collapse,-->
						<div class="container">
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#preguntaF1" aria-expanded="false" aria-controls="preguntaF1">
								¿Cuánto demora el servicio?
							</button>
						</div>
						<div class="collapse" id="preguntaF1">
							<div class="card card-body" style="background-color: turquoise;">
								El servicio tiene un tiempo estimado de una hora.
							</div>
					  	</div><br> <br>

						<div class="container">
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#preguntaF2" aria-expanded="false" aria-controls="preguntaF2">
								¿Qué hago si ya no aparece un producto en stock?
							</button>
						</div >
						<div class="collapse" id="preguntaF2">
							<div class="card card-body" style="background-color: turquoise;">
								Ponerse en contacto a través de las redes sociales de la página o esperar un restock del producto.
							</div>
						</div> <br><br>

						<div  class="container">
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#preguntaF3" aria-expanded="false" aria-controls="preguntaF3">
								¿Cómo puedo contactar con servicio al cliente?
							</button>
						</div>
						<div class="collapse" id="preguntaF3">
							<div class="card card-body" style="background-color: turquoise;">
								Dentro de la página encontrará las redes sociales de la empresa. Además, puede mandar mensaje a un administrador a través del mensaje que le llegó cuando se registró en la página.
							</div>
						</div> <br><br>

						<div  class="container" >
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#preguntaF4" aria-expanded="false" aria-controls="preguntaF4">
								¿Necesito conocimientos técnicos para señalar los fallos en la maquinaria?
							</button>
						</div>
						<div class="collapse" id="preguntaF4">
							<div class="card card-body" style="background-color: turquoise;">
								No, si es capaz de proporcionar el nombre y marca del(los) elemento(s) dañados está bien, pero solo con dar una breve descripción del fallo funcionara para agendar una cita de revisión con un experto.
								</div>
							</div> <br><br>

						<div  class="container">
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#preguntaF5" aria-expanded="false" aria-controls="preguntaF5">
								¿La dirección es un factor relevante en el cobro?
							</button>	
						</div>
						<div class="collapse" id="preguntaF5">
							<div class="card card-body" style="background-color: turquoise;">
									Si, debido a que el tiempo y distancia de transporte afecta a los costos del servicio, por lo que, también aumentará su precio en función a estos elementos.
							</div>
					  	</div> <br><br>

						<div  class="container">
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#preguntaF6" aria-expanded="false" aria-controls="preguntaF6">
								¿Estar registrado en la página da algún beneficio adicional?
							</button>	
						</div>
						<div class="collapse" id="preguntaF6">
							<div class="card card-body" style="background-color: turquoise;">
								No, ya que el registro es una necesidad para la contratación más que una opción, no hay beneficios extras.
							</div>
					  	</div> <br><br>
						  
						<div  class="container">
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#preguntaF7" aria-expanded="false" aria-controls="preguntaF7">
								¿Se mantendrá actualizada la página y se agregan nuevas funciones en el futuro?
							</button>	
						</div>
						<div class="collapse" id="preguntaF7">
							<div class="card card-body" style="background-color: turquoise;">
									Si, tenemos pensado en construir un negocio sostenible, por lo que dar la mejor experiencia de usuario es primordial para el desarrollo y evolución de la página.
							</div>
					  	</div>  
					  </div>
        		</div>
        	</div>	
		</div>
