<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Añadir <br> Servicio Piscina</h3>
                </div>
                <div class="card-body">
                    <form action="/servicios/piscina/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre producto" autofocus>
                         </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="precio" placeholder="Precio por m³" step="0.01">
                         </div>
                        <div class="form-group">
                            <textarea name="descripcion" rows="2" class="form-control" placeholder="Descripcion"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>